/*Styling for all*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Styling page background to gray*/
body {
    background-color: gray;
}

/*Styling for header*/
.header {
    background-color: firebrick;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/*Styling for anchor elements inside the header*/
.header a {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Styling hero photo*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/IMG_20230907_141004_831.jpg");
    background-size: cover;
    background-position: center;
}

section {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.about-me {
    border-right: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 1rem;
    margin-top: 5px;
    padding: 10px;
}

.work {
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 1rem;
    margin-top: 5px;
    padding: 10px;
}

.contact {
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 1rem;
    margin-top: 5px;
    padding: 10px;
}

.contact ul {
    list-style-type: none;
}
